@media (max-width: 1366px) {   
    .letraGusto{
        font-size: 1.5em;
    }
    #bodyGustos{
        cursor: pointer;
    }
    #contenedorTabla{
        overflow-y: auto;
    }
    .tablaGustos{
        max-height: 330pt;
    }


    /* The contenedor */
    .contenido {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .contenido input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .contenido:hover input ~ .checkmark {
        background-color: rgba(33, 149, 243, 0.377);
    }

    /* When the checkbox is checked, add a blue background */
    .contenido input:checked ~ .checkmark {
        background-color: rgba(33, 149, 243, 0.377);
        height: 100%;
        width: 100% ;

    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .contenido input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .contenido .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
@media (min-width: 1367px) {
    .letraGusto{
        font-size: 1.5em;
    }
    #bodyGustos{
        cursor: pointer;
    }
    #contenedorTabla{
        overflow-y: auto;
    }
    .tablaGustos{
        max-height: 610pt;
    }


    /* The contenedor */
    .contenido {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .contenido input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .contenido:hover input ~ .checkmark {
        background-color: rgba(33, 149, 243, 0.377);
    }

    /* When the checkbox is checked, add a blue background */
    .contenido input:checked ~ .checkmark {
        background-color: rgba(33, 149, 243, 0.377);
        height: 100%;
        width: 100% ;

    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .contenido input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .contenido .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}