<!--  MODAL PARA LA CANTIDAD-->

<div bsModal #modalCantidad="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
[config]="{backdrop: 'static'}">
<div class="modal-dialog modal-md modal-success" role="document">
    <div class="modal-content">
        <div class="modal-header">               
            <div class="row">
                    <h2>{{titulo}} </h2>&nbsp;&nbsp;&nbsp;                    
                    <input type="number" id="cantidad" style="font-size: 2em" [(ngModel)]="cantidad" (keypress)="eventInput($event)">
                    
            </div>            
        </div>
        <div class="modal-body">
                {{focusInput()}}
            <!--Cuerpo del modal -->
            &nbsp;
            <img src="http://localhost/appVeneccia/src/app/img/media.png">
            <img src="http://localhost/appVeneccia/src/app/img/uno.png">
            <img src="http://localhost/appVeneccia/src/app/img/dos.png"><br>
            <!-- Alerta de ERROR-->
        <alert type="danger" *ngIf="alert">
        <strong>Alerta!</strong> {{mensaje}}
        </alert>
        </div>
        <!--Aqui termina el cuerpo -->
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" (click)="hideModal()">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="eventBtnAceptar()">Aceptar</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->