/* Pantallas normales */
@media (min-width: 1025px) and (max-width: 1366px) {   
    .widthContenedor1{
        width: 5%;
    }
    .widthContenedor2{
        width: 95%;
    }
    #scrollMesas{
        overflow-x: scroll; 
        overflow: hidden;
    }
    .botonScroll{
        
        outline: none;
        text-decoration: none;
        height: 50px;
        border-radius: 6px;
        border: 0px solid transparent;
        background-color: transparent;
        
    }
    .botonMesa{
        width: 52px;
        height: 50px;
        padding: 5px;
        border-radius: 6px;
        margin-right: 1.4px;  
    }
    .botonDomicilio{
        width: 54px;
        height: 55px;
        padding: 5px;
        border-radius: 6px;
        margin:1px;  
        margin-bottom: 2px;
    }
    .contenedorDomi{
        padding-left: 5px;
        overflow-y: auto;
        max-height: 520px;
    }
    .contenedorDomi::-webkit-scrollbar{
        width: 10px;
    }
    .contenedorDomi::-webkit-scrollbar-thumb{
        background-color: #20a8d8;

    }
    .contenedorDomi::-webkit-scrollbar-button{
        background-color: #ffc107;
    }
    .prueba{
        background-color: #e4e5e6;

    }
    .tablaPedidos{
        height: 180pt;
    }
    .vrTotal{
        font-size: 4em;
        text-align: center;
    }
    #bodyPedidos{
        cursor: pointer;
    }
    #contenedor{
        overflow-y: auto;
    }
    .letraMesa{
        font-family:'Arial'; 
        font-weight:bold;
    }
    .table-fixed{
        width: 100%;
        background-color: #f3f3f3;
        tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
        tbody::-webkit-scrollbar{
            width: 10px;
        }
        tbody::-webkit-scrollbar-thumb{
            background-color: #20a8d8;
        }
        tbody::-webkit-scrollbar-button{
            background-color: #20a8d8;
        }
        thead,tbody,tr,td,th{
          display:flow-root;
        }
        tbody{
        td{
            font-size: 1.5vh;
            float:left;
        }
        }
        thead {
        tr{
            th{
            font-size: 1.6vh;
            float:left;
            background-color: #ffc107;
            border-color:#ffc107;
            }
        }
        }
    }
    .inputpeque{
        font-size: 1.6vh;
        height: 15px;
    }
    .inputDatos{
        width: 170%;
    }
}

/* pantallas largas */
@media (min-width: 1367px) { 
    .widthContenedor1{
        width: 5%;
    }
    .widthContenedor2{
        width: 95%;
    }
    #scrollMesas{
        overflow-x: scroll; 
        overflow: hidden;
    }
    .contenedorDomi::-webkit-scrollbar{
        width: 10px;
    }
    .contenedorDomi::-webkit-scrollbar-thumb{
        background-color: #20a8d8;
    }
    .contenedorDomi::-webkit-scrollbar-button{
        background-color: #ffc107;
    }
    .prueba{
        background-color: #e4e5e6;
    }
    #bodyPedidos{
        cursor: pointer;
    }
    #contenedor{
        overflow-y: auto;
    }
    .letraMesa{
        font-family:'Arial'; 
        font-weight:bold;
    }
    .botonScroll{
        outline: none;
        text-decoration: none;
        height: 80px;
        border-radius: 8px;
        border: 0px solid transparent;
        background-color: transparent;
    }
    .botonMesa{
        width: 80px;
        height: 80px;
        padding: 8px;
        border-radius: 8px;
        margin-right: 2px;  
    }
    .botonDomicilio{
        width: 64px;
        height: 65px;
        padding: 8px;
        border-radius: 8px;
        margin:2px;  
        margin-bottom: 3px;
    }
    .contenedorDomi{
        overflow-y: auto;
        max-height: 840px;
        padding-left: 10px;
    }
    .vrTotal{
        font-size: 5em;
        text-align: center;
    }
    
    .table-fixed{
        width: 100%;
        background-color: #f3f3f3;
        tbody{
          height:450px;
          overflow-y:auto;
          width: 100%;
          }
        tbody::-webkit-scrollbar{
            width: 10px;
        }
        tbody::-webkit-scrollbar-thumb{
            background-color: #20a8d8;
        }
        tbody::-webkit-scrollbar-button{
            background-color: #20a8d8;
        }
        thead,tbody,tr,td,th{
          display:flow-root;
        }
        tbody{
            tr{
                td{
                    font-size: 1.7vh;
                    float:left;
                }
            }
        }
        thead {
          tr{
            th{
            font-size: 1.8vh;
            float:left;
            background-color: #ffc107;
            border-color:#ffc107;
            }
          }
        }
    }
    .inputDatos{
        width: 250%;
    }
}
  
/* Landscape */
@media (min-width: 801px) and (max-width: 1024px){
    .widthContenedor1{
        width: 7%;
    }
    .widthContenedor2{
        width: 93%;
    }
    #scrollMesas{
        overflow-x: scroll; 
        overflow: hidden;
    }
    .botonScroll{
        
        outline: none;
        text-decoration: none;
        height: 50px;
        border-radius: 6px;
        border: 0px solid transparent;
        background-color: transparent;
        
    }
    .botonMesa{
        width: 52px;
        height: 50px;
        padding: 5px;
        border-radius: 6px;
        margin-right: 1.4px;  
    }
    .botonDomicilio{
        width: 54px;
        height: 55px;
        padding: 5px;
        border-radius: 6px;
        margin:1px;  
        margin-bottom: 2px;
    }
    .contenedorDomi{
        overflow-y: auto;
        max-height: 520px;
        padding-left: 5px;
    }
    .contenedorDomi::-webkit-scrollbar{
        width: 10px;
    }
    .contenedorDomi::-webkit-scrollbar-thumb{
        background-color: #20a8d8;

    }
    .contenedorDomi::-webkit-scrollbar-button{
        background-color: #ffc107;
    }
    .prueba{
        background-color: #e4e5e6;
    }
    .tablaPedidos{
        height: 180pt;
    }
    .vrTotal{
        font-size: 4em;
        text-align: center;
    }
    #bodyPedidos{
        cursor: pointer;
    }
    #contenedor{
        overflow-y: auto;
    }
    .letraMesa{
        font-family:'Arial'; 
        font-weight:bold;
    }
    .table-fixed{
        width: 100%;
        background-color: #f3f3f3;
        tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
        tbody::-webkit-scrollbar{
            width: 10px;
        }
        tbody::-webkit-scrollbar-thumb{
            background-color: #20a8d8;
        }
        tbody::-webkit-scrollbar-button{
            background-color: #20a8d8;
        }
        thead,tbody,tr,td,th{
          display:flow-root;
        }
        tbody{
        td{
            font-size: 1.5vh;
            float:left;
        }
        }
        thead {
        tr{
            th{
            font-size: 1.3vh;
            float:left;
            background-color: #ffc107;
            border-color:#ffc107;
            }
        }
        }
    }
    .inputpeque{
        font-size: 1.6vh;
        height: 15px;
    }
    .inputDatos{
        width: 100%;
    }
}

/* Portrait */
@media (max-width: 800px){

    .widthContenedor1{
        width: 0%;
        display: none;
    }
    .widthContenedor2{
        width: 100%;
    } 

    #scrollMesas{
        overflow-x: scroll; 
        overflow: hidden;
    }
    .botonScroll{
        
        outline: none;
        text-decoration: none;
        height: 50px;
        border-radius: 6px;
        border: 0px solid transparent;
        background-color: transparent;
        
    }
    .botonMesa{
        width: 52px;
        height: 50px;
        padding: 5px;
        border-radius: 6px;
        margin-right: 1.4px;  
    }
    .botonDomicilio{
        width: 54px;
        height: 55px;
        padding: 5px;
        border-radius: 6px;
        margin:1px;  
        margin-bottom: 2px;
    }
    .contenedorDomi{
        overflow-y: auto;
        max-height: 115px;
    }
    .contenedorDomi::-webkit-scrollbar{
        width: 10px;
    }
    .contenedorDomi::-webkit-scrollbar-thumb{
        background-color: #20a8d8;

    }
    .contenedorDomi::-webkit-scrollbar-button{
        background-color: #ffc107;
    }
    .prueba{
        background-color: #e4e5e6;

    }
    .tablaPedidos{
        height: 180pt;
    }
    .vrTotal{
        font-size: 4em;
        text-align: center;
    }
    #bodyPedidos{
        cursor: pointer;
    }
    #contenedor{
        overflow-y: auto;
    }
    .letraMesa{
        font-family:'Arial'; 
        font-weight:bold;
    }
    .table-fixed{
        width: 100%;
        background-color: #f3f3f3;
        tbody{
        height:200px;
        overflow-y:auto;
        width: 100%;
        }
        tbody::-webkit-scrollbar{
            width: 10px;
        }
        tbody::-webkit-scrollbar-thumb{
            background-color: #20a8d8;
        }
        tbody::-webkit-scrollbar-button{
            background-color: #20a8d8;
        }
        thead,tbody,tr,td,th{
          display:flow-root;
        }
        tbody{
        td{
            font-size: 1.1vh;
            float:left;
        }
        }
        thead {
        tr{
            th{
            font-size: 1.0vh;
            float:left;
            background-color: #ffc107;
            border-color:#ffc107;
            }
        }
        }
    }
    .inputpeque{
        font-size: 1.6vh;
        height: 15px;
    }
    .inputDatos{
        width: 150%;
    }
}

