<!-- ------ MODAL PARA MOSTRAR LOS VENTAS DEL DIA -------- -->
<div bsModal #ventasDiaModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
  [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class=" row">
          <h4 class="modal-title col-md-12">Ventas Diarias</h4>

          <div class="col-md-7 col-xs-6 col-sm-3">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [bsConfig]="bsConfig" placeholder="fecha" bsDaterangepicker [(ngModel)]="fecha" />
                <div class="input-group-btn">
                  <button class="btn btn-success" (click)="eventBuscar()">Buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-body">
        <!--Cuerpo del modal -->
        <div style="height: 180pt; overflow-y: auto;">
          <table class="table table-bordered table-sm table-codensed">
            <thead>
              <tr>
                <th class="text-center">Codigo</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Cantidad</th>
                <th class="text-center">Precio U.</th>
                <th class="text-center">Desc. %</th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of productos">
                <td class="text-center">{{dato.idProducto}}</td>
                <td class="text-center">{{dato.nombreP}}</td>
                <td class="text-center">{{dato.cantidad}}</td>
                <td class="text-center">{{dato.precioP | number:0}}</td>
                <td class="text-center">{{dato.descuentoP}}</td>
                <td class="text-center">{{redondear(dato.total) | number:0}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <div class="container col-md-4">
          <div class="row text-white">

            <span class="input-group-addon col-md-5 text-white bg-primary">Efectivo</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{efectivo | number:0}}</span>

            <span class="input-group-addon col-md-5 text-white bg-primary">Tarjeta</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{tarjeta | number:0}}</span>

            <span class="input-group-addon col-md-5 text-white bg-primary">Creditos</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{creditos | number:0}}</span>
          
            <span class="input-group-addon col-md-5 bg-success">Total ventas</span>
            <label class="input-group-addon col-md-7 text-white bg-secondary text-right">
              <h3>$ {{totalVentas | number:0}}</h3>
            </label>

            <span class="input-group-addon col-md-5 text-white bg-warning">Domicilios</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{domicilios | number:0}}</span>

            <span class="input-group-addon col-md-5 text-white bg-warning">Descuentos G.</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{descuentoG | number:0}}</span>

            <span class="input-group-addon col-md-5 text-white bg-warning">Propinas</span>
            <span class="form-control col-md-7 text-white bg-secondary">$ {{propinas | number:0}}</span>
          </div>
        </div>
      </div>
      <!--Aqui termina el cuerpo -->
      <div class="modal-footer">
        <button type="button" style="cursor: pointer" class="btn btn-success" (click)="hideModal()">Cerrar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->