<div class="container-fluid prueba">
        <div class="row">
                <div class="col-md-3 col-lg-2 col-xl-2" style=" padding: 1px;">
                        <button (click)="scrollCategoria(0, -164)" class="text-white botonScroll">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </button>
                        <div id="scrollCategoria">
                                <div *ngFor="let categoria of categorias">
                                        <button class="botonCartaP text-uppercase" (click)="listarSubCategorias(categoria.id)">
                                                {{categoria.nombre}}
                                        </button>
                                </div>
                        </div>
                        <button (click)="scrollCategoria(0, 164)" class="text-white botonScroll">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2" style=" padding: 1px;">
                        <button (click)="scrollSubCategoria(0, -164)" class="text-white botonScroll">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </button>
                        <div id="scrollSubCategoria">
                                <div *ngIf="subCategorias">
                                        <div *ngFor="let subcategoria of subCategorias">
                                                <button class="botonCartaP text-uppercase" [style.background-color]="subcategoria.color" (click)="listarProductos(subcategoria.id, subcategoria.nombre)">
                                                        {{subcategoria.nombre}}
                                                </button>
                                        </div>
                                </div>
                        </div>
                        <button (click)="scrollSubCategoria(0, 164)" class="text-white botonScroll">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </button>
                </div>
                <div class="col-md-6 col-lg-8 col-xl-8">
                        <div class="row contenedor" *ngIf="productos">
                                <div class="col-md-6 col-lg-3 col-xl-2" *ngFor="let producto of productos; let i = index" style=" padding: 1px;">
                                        <button class="botonCarta" [style.background-color]="producto.color" (click)="mostrarGustos(producto, modal, i)">
                                                <div class="row">
                                                <div class="col-12">
                                                        <p class="hq text-lowercase"> {{producto.nombre}}</p>
                                                </div>
                                                <div class="col-12">
                                                        <b class="hq2">${{producto.precio | number:0}}</b>
                                                </div>
                                                </div>
                                        </button>
                                </div>
                        </div>
                </div>
        </div>
</div>

<modal-gustos  #modal> </modal-gustos>